**.DS_Store
.config/nvim/plugin/packer_compiled.lua
.config/nvim/lazy-lock.json
.config/tmux/plugins/*
.config/karabiner/automatic_backups/*
.config/nushell/history*
*.log
local.zsh
local.nu
notes/
nohup.out
.claude/shell-snapshots/
.claude/backups
.claude/file-history/c40ebe51-28e8-4336-90b0-a3df2cac1cd5
.claude
